/* Deno Doc Overrides */

#content > main > section + div {
  @apply max-w-[75ch] !important;
}

.ddoc .namespaceSection {
  display: block !important;
}

@media (max-width: 768px) {
  .ddoc {
    @apply px-0 !important;
  }

  .ddoc > div:not(.categoryPanel) {
    @apply px-4 !important;
  }

  .ddoc .markdown .highlight {
    @apply -mx-4 !important;
  }

  .ddoc .markdown pre > code:first-child {
    @apply px-4 !important;
  }
}

/* Align content with the top of the TOC now that it has no header */

#content {
  @apply mt-2 !important;
}

#topnav {
  @apply md:mt-1 !important;
}

.ddoc {
  @apply gap-8 !important;
}

/* Adjust spacing to account for removed header */

.ddoc .toc .documentNavigation {
  @apply md:mt-4 !important;
}

.ddoc .toc .documentNavigation > ul li {
  @apply ml-1 !important;
}

.doc .toc :not(.documentNavigation) > a {
  @apply text-xl !important;
}

.ddoc .usageContent {
  @apply bg-primary/5 border-primary/25 max-w-[75ch] py-4 mt-6 relative
    !important;
}

/* Adjust spacing for ref pages that don't have a header above usage */
.ddoc .usageContent:first-of-type {
  @apply mt-1 !important;
}

.ddoc .usageContent > div.markdown > pre.highlight {
  @apply border-primary/25 !important;
}

.ddoc .usageContent > h3 {
  @apply text-xs -top-2.5 bg-background-primary border border-primary/25 px-2
    py-0.5 rounded absolute !important;
}

.dark .ddoc .usageContent pre {
  background: inherit;
  color: inherit;
}

.ddoc .usageContent > .markdown {
  @apply max-w-full !important;
}

.ddoc .context_button:hover {
  @apply bg-gray-000/25 !important;
}

/* This section attempts to style the headings on the category index pages differently from the symbol detail pages */
.ddoc .space-y-7 > .section {
  @apply mt-4 !important;
}

.ddoc .space-y-7 > .section:first-child {
  @apply mt-0 !important;
}

.ddoc .space-y-7 > .section .markdown {
  @apply mb-6 !important;
}

#feedback-no:checked + label {
  background-color: red;
}

#feedback-yes:checked + label {
  background-color: green;
}

#feedback-no:checked ~ #feedback-more, #feedback-yes:checked ~ #feedback-more {
  display: block !important;
}

#feedback-more label {
  display: block;
}
