@config "./tailwind.config.js";

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --white-hsl: 215deg, 81%, 100%;
  --blue-splash: #ecf3fd;
  --blue-splash-hsl: 215deg, 81%, 96%;

  --gray-50: #f5f5f5;
  --gray-50-hsl: 0deg, 0%, 96%;
  --gray-100: #e5eaea;
  --gray-100-hsl: 180deg, 3%, 90%;
  --gray-200: #d4d6d8;
  --gray-200-hsl: 210deg, 6%, 83%;
  --gray-300: #c2c4c7;
  --gray-300-hsl: 210deg, 4%, 77%;
  --gray-400: #b0b2b6;
  --gray-400-hsl: 220deg, 4%, 69%;
  --gray-500: #9ea0a5;
  --gray-500-hsl: 220deg, 4%, 63%;
  --gray-600: #868789;
  --gray-600-hsl: 240deg, 2%, 53%;
  --gray-700: #56575a;
  --gray-700-hsl: 240deg, 3%, 35%;
  --gray-800: #25272b;
  --gray-800-hsl: 210deg, 8%, 16%;
  --gray-900: #191b1f;
  --gray-900-hsl: 210deg, 11%, 11%;
  --gray-950: #14161a;
  --gray-950-hsl: 210deg, 9%, 10%;

  --runtime-50: #eefff5;
  --runtime-50-hsl: 149deg, 100%, 96.5%;
  --runtime-100: #d6ffe9;
  --runtime-100-hsl: 149deg, 100%, 92.5%;
  --runtime-200: #b0ffd4;
  --runtime-200-hsl: 149deg, 100%, 84.5%;
  --runtime-300: #70ffaf;
  --runtime-300-hsl: 149deg, 100%, 72%;
  --runtime-400: #29ff85;
  --runtime-400-hsl: 149deg, 100%, 58%;
  --runtime-500: #00e666;
  --runtime-500-hsl: 149deg, 100%, 45%;
  --runtime-600: #00b84d;
  --runtime-600-hsl: 149deg, 100%, 36%;
  --runtime-700: #008a33;
  --runtime-700-hsl: 149deg, 100%, 29%;
  --runtime-800: #005c1a;
  --runtime-800-hsl: 149deg, 100%, 24%;
  --runtime-900: #003d11;
  --runtime-900-hsl: 149deg, 100%, 20%;
  --runtime-950: #001f08;
  --runtime-950-hsl: 149deg, 100%, 12%;
  --runtime-1000: #000f04;
  --runtime-1000-hsl: 149deg, 100%, 7%;
  --runtime-1050: #000600;
  --runtime-1050-hsl: 149deg, 100%, 3%;

  --runtime: var(--runtime-300);

  --deploy-white: #fafcff;
  --deploy-white-hsl: 225deg, 100%, 99.8%;
  --deploy-50: #f0f7ff;
  --deploy-50-hsl: 225deg, 100%, 97.1%;
  --deploy-100: #e0f0ff;
  --deploy-100-hsl: 225deg, 100%, 94.1%;
  --deploy-200: #b3e0ff;
  --deploy-200-hsl: 210deg, 100%, 85.1%;
  --deploy-300: #66c2ff;
  --deploy-300-hsl: 204deg, 100%, 70.2%;
  --deploy-400: #1a9fff;
  --deploy-400-hsl: 201deg, 100%, 55.3%;
  --deploy-500: #0077cc;
  --deploy-500-hsl: 201deg, 100%, 40%;
  --deploy-600: #005c99;
  --deploy-600-hsl: 201deg, 100%, 30%;
  --deploy-700: #004166;
  --deploy-700-hsl: 201deg, 100%, 20%;
  --deploy-800: #002633;
  --deploy-800-hsl: 198deg, 100%, 10.8%;
  --deploy-900: #001319;
  --deploy-900-hsl: 198deg, 100%, 5.7%;
  --deploy-950: #000a0d;
  --deploy-950-hsl: 195deg, 100%, 2.5%;

  --header-height: 4rem;
  --subnav-height: 2.5rem;

  --info: 224deg, 64.3%, 32.9%;
  --note: 224deg, 64.3%, 32.9%;
  --caution: 45.4deg, 93.39%, 47.45%;
  --tip: 142deg, 76.2%, 36.3%;

  --max-text-width: 40rem;
}

body {
  min-height: 100vh;
  min-height: 100dvh;
  margin: 0;
  color: hsl(var(--foreground-primary));
  font-variant-alternates: character-variant(cv05, cv08, cv10)
    styleset(ss01, ss07, ss08);
}

.blocklink {
  display: inline-block;
  position: relative;
  padding: 0.25rem 0.75rem;
  border-radius: 0.25rem;
  border: 1px solid transparent;
  transition:
    background-color 200ms ease-in-out,
    border-color 200ms ease-in-out;
  color: hsl(var(--foreground-primary));

  &:hover:not([data-active="true"]) {
    text-decoration: none;
    background-color: hsl(var(--background-secondary));
    border-color: hsl(var(--background-tertiary));
  }

  &[data-active="true"] {
    &::after {
      content: "";
      position: absolute;
      bottom: 0.25rem;
      left: 0.75rem;
      display: block;
      width: calc(100% - 1.5rem);
      height: 1px;
      background-color: hsl(var(--background-tertiary));
    }
  }
}

/* Light and dark theme variables */
.light {
  --background-raw: hsl(var(--white-hsl));
  --background-primary: var(--gray-50-hsl);
  --background-secondary: var(--gray-100-hsl);
  --background-tertiary: var(--gray-200-hsl);
  --foreground-primary: var(--gray-800-hsl);
  --foreground-secondary: var(--gray-600-hsl);
  --foreground-tertiary: var(--gray-300-hsl);
  --foreground-quaternary: var(--gray-50-hsl);
  --runtime-background: 124deg, 100%, 97.1%;
  --runtime-foreground: 184deg, 100%, 10%;

  --primary: var(--deploy-500-hsl);
  --header-highlight: var(--runtime-300-hsl);

  [data-services-page="true"] {
    --header-highlight: var(--deploy-200-hsl);
    /* --background-primary: var(--deploy-50-hsl);
    --background-secondary: var(--deploy-100-hsl);
    --background-tertiary: var(--deploy-300-hsl);
    --foreground-primary: var(--deploy-950-hsl);
    --foreground-secondary: var(--deploy-800-hsl);
    --foreground-tertiary: var(--deploy-200-hsl);
    --foreground-quaternary: var(--deploy-100-hsl);

    --primary: var(--deploy-500-hsl); */
  }
}

.dark {
  --background-raw: hsl(149deg, 100%, 1%);
  --background-primary: var(--gray-950-hsl);
  --background-secondary: var(--gray-900-hsl);
  --background-tertiary: var(--gray-800-hsl);
  --foreground-primary: var(--gray-50-hsl);
  --foreground-secondary: var(--gray-400-hsl);
  --foreground-tertiary: var(--gray-800-hsl);
  --foreground-quaternary: var(--gray-900-hsl);
  --runtime-background: 124deg, 100%, 3%;
  --runtime-foreground: 184deg, 100%, 90%;
  --note: 224deg, 64.3%, 82.9%;
  --info: 224deg, 64.3%, 69%;
  --caution: 45.4deg, 93.39%, 67.11%;

  /* The following are not different from light mode (yet?) */
  --header-highlight: var(--runtime-300-hsl);
  --primary: var(--deploy-500-hsl);
  --tip: 142deg, 76.2%, 36.3%;
  --color-fg-default: #fff;

  color: var(--foreground-primary);
  background-color: var(--background-primary);

  [data-services-page="true"] {
    --header-highlight: var(--deploy-200-hsl);

    /* --background-raw: hsl(var(--deploy-950-hsl));
    --background-primary: var(--deploy-900-hsl);
    --background-secondary: var(--deploy-800-hsl);
    --background-tertiary: var(--deploy-700-hsl);
    --foreground-primary: var(--deploy-50-hsl);
    --foreground-secondary: var(--deploy-100-hsl);
    --foreground-tertiary: var(--deploy-700-hsl);
    --foreground-quaternary: var(--deploy-800-hsl);

    --primary: var(--deploy-300-hsl); */
  }
}

.content,
body {
  background-color: var(--background-raw);
}

.content {
  width: 100%;
  padding: 0 1rem 4rem;
}

@media (min-width: 48rem) {
  .content {
    padding-inline: 0;
  }
}

html {
  scroll-behavior: smooth;
}

/* Scrollbar colors that look good on light and dark theme */
* {
  scrollbar-color: hsla(0deg, 0%, 50%, 0.5) hsla(0deg, 0%, 50%, 0.1) !important;
}

*:focus-visible,
label:has(input.sr-only:focus-visible) {
  outline: 1px dashed hsl(var(--foreground-secondary));
  outline-offset: -1px;
}

main:focus-visible {
  outline: none;
}

p {
  max-width: var(--max-text-width);
}

.dark-mode-toggle-button img {
  @apply fill-foreground-primary;
}

@layer base {
  @font-face {
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url("/fonts/inter/Inter-Regular.woff2") format("woff2");
  }

  @font-face {
    font-family: "Inter";
    font-style: italic;
    font-weight: 400;
    font-display: swap;
    src: url("/fonts/inter/Inter-Italic.woff2") format("woff2");
  }

  @font-face {
    font-family: "Inter";
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url("/fonts/inter/Inter-SemiBold.woff2") format("woff2");
  }

  @font-face {
    font-family: "Inter";
    font-style: italic;
    font-weight: 700;
    font-display: swap;
    src: url("/fonts/inter/Inter-SemiBoldItalic.woff2") format("woff2");
  }
}

[id] {
  scroll-margin-top: var(--header-height);
}

h1 {
  letter-spacing: -0.025em;
}

:where(h2, h3) {
  letter-spacing: -0.0125em;
}

.markdown-body {
  font-family: inherit;
  @apply bg-transparent !important;

  /* Override gfm base styles */
  a {
    color: hsl(var(--primary));
    text-decoration: underline;
    text-decoration-thickness: 1px;
    text-underline-offset: 2px;
  }

  p {
    @apply mb-6;
  }

  pre {
    @apply mb-6 border-foreground-tertiary;
  }

  h1:first-child {
    @apply mt-0 md:text-4xl;
  }

  h2 {
    @apply mt-12 mb-4;
  }

  h3 {
    @apply mt-10 mb-4;
  }

  h4 {
    @apply mt-6 mb-4;
  }

  :where(h1, h2, h3) {
    letter-spacing: -0.0125em;
  }

  :where(h2, h3, h4, h5, h6) {
    .header-anchor:hover {
      text-decoration: underline;
      text-underline-offset: 4px;
    }

    .anchor-end {
      opacity: 0;
      transition: opacity 0.2s;
      font-weight: normal;
    }

    &:hover .anchor-end {
      opacity: 1;
    }
  }

  & details {
    @apply rounded border border-gray-600 py-4 px-4;

    &[open] summary {
      @apply pb-4 mb-4 border-b border-gray-300;
    }

    & summary::marker {
      @apply text-gray-700;
    }
  }

  & pre {
    @apply border;
  }
}

.markdown-body.markdown-summary {
  font-size: 0.875rem !important;

  @apply inline text-stone-600;

  p {
    @apply inline-block line-clamp-4;
  }

  :not(pre) > code {
    @apply font-mono text-sm py-0.5 px-1.5 rounded;
  }
}

pre:has(code.highlight),
pre.highlight:has(code) {
  @apply px-4 py-8 -mx-4 sm:mx-0 border-x-0 sm:border sm:px-8 rounded-none
    sm:rounded-md border-foreground-tertiary;
  overflow-x: auto;
}

pre:has(code.highlight):where(:hover, :focus) + .copyButton,
pre.highlight:has(code):where(:hover, :focus) + .copyButton {
  @apply opacity-100;
}

.copyButton {
  @apply opacity-0 text-foreground-secondary transition-all duration-100
    absolute top-2 right-2 p-1 rounded;

  &:hover,
  &:focus {
    @apply opacity-100 bg-foreground-quaternary;
  }

  &:active {
    transform: scale(1.2);
  }
}

.ddoc .markdown-body tr:nth-child(2n) {
  @apply bg-background-secondary !important;
}

.markdownBlockTitle {
  @apply bg-slate-100 p-2 leading-none rounded border text-xs font-semibold z-10
    relative w-max !-mb-4 text-foreground-secondary/80 sm:left-2
    dark:border-background-tertiary dark:bg-slate-900;
}

.deno-tabs .markdownBlockTitle {
  @apply left-2;
}

.markdown-body h2:hover .anchor-end {
  opacity: 1;
}

@font-feature-values Inter {
  @character-variant {
    cv05: 5;
    cv08: 8;
    cv10: 10;
  }
  @styleset {
    ss01: 1;
    ss07: 7;
    ss08: 8;
  }
}

.homepage-link {
  @apply block font-normal underline underline-offset-4;
  line-height: 1.8rem;
}

.learn-link {
  @apply flex gap-2 items-center font-normal underline underline-offset-4;
}

.deploy-link {
  @apply text-deploy-500 decoration-deploy-500/20 hover:decoration-deploy-500;
}

.runtime-link {
  @apply dark:decoration-runtime dark:hover:text-runtime-600
    dark:hover:decoration-runtime-600 decoration-1 text-primary
    decoration-runtime-800 hover:decoration-runtime-600 hover:text-runtime-600
    transition-colors duration-100;
}

.help-link {
  @apply text-purple-600 dark:text-purple-300 decoration-purple-600/20
    dark:decoration-purple-300/20 dark:hover:decoration-purple-300
    hover:decoration-purple-600;
}

.example-icon {
  @apply stroke-foreground-secondary;
}

.sidebar__current-item {
  color: var(--color-accent-fg);
}

.sidebar__current-item::before {
  @apply content-[""] absolute left-0 w-[0.5em] text-center h-[1.3em]
    bg-background-secondary dark:bg-background-tertiary;
  clip-path: polygon(0% 10%, 100% 50%, 0% 90%);
}

.markdown-body .admonition a {
  @apply text-primary underline underline-offset-2;
}

.markdown-body .admonition {
  @apply px-4 pt-10 pb-4 rounded-md bg-gray-100 my-8 relative overflow-clip
    text-sm flex flex-col gap-2;
}

.markdown-body .admonition > * {
  margin: 0;
}

.markdown-body .admonition .title {
  @apply font-bold uppercase flex items-center mb-4 absolute top-0 left-0
    right-0 py-2 px-4 bg-gray-100 leading-none;
}

.markdown-body .admonition.info {
  @apply bg-green-100 dark:bg-green-950/50 dark:border dark:border-green-900
    border-green-200;

  .title {
    @apply text-green-600 bg-green-200 dark:bg-green-900 dark:text-green-200;
  }
}

.markdown-body .admonition.note {
  @apply bg-green-100 dark:bg-green-950/50 dark:border dark:border-green-900
    border-green-200;

  .title {
    @apply text-green-600 bg-green-200 dark:bg-green-900 dark:text-green-200;
  }
}

.markdown-body .admonition.caution {
  @apply bg-yellow-100 dark:bg-yellow-950/75 dark:border dark:border-yellow-400
    border-yellow-200;

  .title {
    @apply text-yellow-600 bg-yellow-200 dark:bg-yellow-400
      dark:text-yellow-800;
  }
}

.markdown-body .admonition.tip {
  @apply bg-green-100 dark:bg-green-950/50 dark:border dark:border-green-900
    border-green-200;

  .title {
    @apply text-green-600 bg-green-200 dark:bg-green-900 dark:text-green-200;
  }
}

.markdown-body .module-info svg {
  @apply inline-block w-6 h-6 !important;
}

.markdown-body .module-info h2 {
  @apply flex gap-2 items-center;
}

.markdown-body .module-info h3 {
  @apply my-2;
  font-size: 1rem;
}

.markdown-body .module-info .item-content {
  @apply ml-3;
  font-size: 1rem;
  margin-bottom: 2rem;
}

.markdown-body .module-info p {
  @apply mb-1;
}

.markdown-body .module-info ul {
  @apply pl-6;
}

.markdown-body > pre.snippet-code[data-example-position="only"] {
  @apply md:border-t md:border-b md:pt-4 rounded-t h-full md:rounded
    md:rounded-b;
}

.markdown-body > pre.snippet-code[data-example-position="first"] {
  @apply md:border-t md:border-b-0 md:pt-4 rounded-t h-full md:rounded-b-none;
}

.markdown-body > pre.snippet-code[data-example-position="middle"] {
  @apply md:border-t-0 md:border-b-0 md:pt-0 md:pb-16 h-full md:rounded-none;
}

.markdown-body > pre.snippet-code[data-example-position="last"] {
  @apply md:border-t-0 md:border-b md:pb-8 h-full md:rounded-t-none
    md:rounded-b;
}

.deno-tabs {
  @apply -mx-4 mb-6 sm:mx-0;
}

.deno-tabs > ul.deno-tabs-buttons {
  @apply flex flex-wrap list-none p-0 ml-4 sm:m-0;
}

.deno-tabs > ul.deno-tabs-buttons > li {
  @apply m-0;
}

.deno-tabs > ul.deno-tabs-buttons > li > button {
  @apply inline-block mr-2 px-4 py-2 text-sm font-semibold text-slate-500
    rounded-t bg-slate-100/80 hover:bg-blue-50 border border-transparent
    border-b-0 dark:text-slate-500 dark:bg-transparent
    dark:border-background-tertiary dark:hover:bg-slate-600;
}

.deno-tabs > ul.deno-tabs-buttons > li > button[data-active="true"] {
  @apply border-slate-200 bg-slate-100 text-slate-950 border-b-0 -mb-[1px]
    pb-[calc(0.5rem+1px)] relative dark:text-slate-50
    dark:bg-background-secondary dark:border-background-tertiary;
  z-index: 2;
}

.deno-tabs > div.deno-tabs-content > div {
  @apply hidden p-2 sm:rounded-lg sm:rounded-tl-none sm:p-4 bg-slate-100 border
    border-slate-200 dark:bg-background-secondary
    dark:border-background-tertiary;
}

.deno-tabs > div.deno-tabs-content > div[data-active="true"] {
  @apply flex flex-col gap-4;
}

.deno-tabs > div.deno-tabs-content > div > p {
  @apply mb-0;
}

.markdown-body .deno-tabs pre {
  @apply border mx-0 bg-white border-slate-200 dark:bg-background-primary
    !rounded dark:border-background-tertiary;
}

/* Strips bottom margin in instances where multiple code samples exist in a tab. */
.markdown-body .deno-tabs :not(div > pre + div > pre) {
  @apply mb-0;
}

/* Custom DDOC styles for the Deno documentation */
.ddoc {
  @apply pt-0 !important;

  #topnav {
    @apply bg-background-primary !important;
    svg,
    path {
      @apply fill-foreground-primary !important;
    }
  }

  .section {
    border-bottom: 1px solid hsl(var(--foreground-tertiary));
    padding-bottom: 1rem;
  }

  .section:last-child {
    border: 0;
  }

  .documentNavigation {
    > h3 {
      @apply hidden !important;
    }

    > ul {
      @apply border-l border-foreground-tertiary !important;

      > li > a {
        @apply text-foreground-primary hover:bg-background-secondary rounded-lg
          hover:no-underline py-1.5 px-3.5 hover:text-primary !important;
      }

      > li > ul > li > a {
        @apply text-foreground-secondary hover:text-primary !important;
      }

      > ul > li a {
        @apply hover:bg-background-secondary hover:text-primary rounded-lg
          hover:no-underline !important;
      }
    }
  }

  .markdown-body {
    & a:not(.no-color) {
      @apply text-primary !important;
    }
  }

  .markdown-summary p {
    @apply text-foreground-secondary;
  }

  .usageContent .markdown-body pre:has(code.highlight) {
    @apply mb-0 px-3 py-2 text-sm;
  }
}

@media (min-width: 64rem) {
  .ddoc .markdown-body p {
    max-width: 75ch;
  }
}

#toc {
  scrollbar-gutter: stable;
  scrollbar-width: thin;
}

.copyButton[data-copied="true"] .copy-icon {
  display: none;
}

.copyButton[data-copied="true"] .check-icon {
  display: inline;
}

.btn {
  @apply max-w-max px-4 py-2 text-sm font-semibold !text-foreground-primary
    bg-white dark:bg-gray-950 border-2 border-foreground-primary
    hover:bg-header-highlight dark:border-background-tertiary rounded-full
    transition inline-flex gap-2 items-center cursor-pointer !no-underline;
  & svg {
    @apply inline-block size-4;
  }
}

#feedback-no:focus + label,
#feedback-yes:focus + label {
  @apply shadow-[inset_0_0_0_1px];
}

#feedback-no:checked + label {
  @apply bg-red-400 dark:bg-red-600;
}

#feedback-yes:checked + label {
  @apply bg-green-400 dark:bg-green-600;
}

#feedback-form__content:has(input[type="radio"]:checked) {
  grid-template-rows: max-content 1fr;

  #feedback-more {
    @apply flex flex-col gap-2;
  }
}

#feedback-more label {
  @apply inline-block text-sm;
}

.learning-list-item {
  @apply leading-7 mb-1;
}

input[type="search"] {
  background-image: url("/img/search.svg");
  background-repeat: no-repeat;
  background-size: 1em;
  background-position-y: center;
  background-position-x: 0.5em;
  padding-left: 2em;
}

/* Examples styles */

.hub-header {
  border-bottom: 1px solid var(--borderColor-muted, var(--color-border-muted));
  padding-bottom: 0.3em;
}

label:has(.switch input:focus-visible) .slider {
  outline: 2px solid var(--color-accent-fg);
  outline-offset: 2px;
}

.switch {
  position: relative;
  width: 1.8rem;
  height: 1rem;
  display: block;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: background-color 0.2s;
  border-radius: 1rem;
}

.slider:before {
  position: absolute;
  content: "";
  height: calc(1rem - 4px);
  width: calc(1rem - 4px);
  left: 2px;
  bottom: 2px;
  background-color: white;
  transition: transform 0.2s cubic-bezier(0.86, 0, 0.07, 1);
  border-radius: 50%;
}

.fully-filtered {
  @apply flex flex-col gap-2 items-center mb-4;
}

.filter:checked + .slider {
  background-color: #2196f3;
}

.filter:checked + .slider:before {
  transform: translateX(calc(0.8rem));
}

[data-category="tutorial"],
[data-category="video"],
[data-category="example"],
.unfiltered {
  display: none;
}

main:has(#tutorial:checked) {
  .fully-filtered {
    display: none;
  }
  .unfiltered {
    display: block;
  }
  & [data-category="tutorial"] {
    display: block;
  }
}

main:has(#video:checked) {
  .fully-filtered {
    display: none;
  }
  .unfiltered {
    display: block;
  }
  & [data-category="video"] {
    display: block;
  }
}

main:has(#example:checked) {
  .fully-filtered {
    display: none;
  }
  .unfiltered {
    display: block;
  }
  & [data-category="example"] {
    display: block;
  }
}

@media (min-width: 48rem) {
  .layout {
    display: grid;
    align-items: start;
    width: 100%;
    margin-inline: auto;
    max-width: 80rem;
    column-gap: 1rem;
    padding-inline: 1rem;
  }

  .layout--three-column {
    grid-template-columns: auto minmax(0, 1fr) auto;

    .content {
      margin-right: -1rem;
    }
  }

  .layout--two-column {
    grid-template-columns: auto minmax(0, 1fr);
  }

  .layout:has(.raw-container) {
    grid-template-columns: 100%;
  }
}

body:has(.raw-container) :is(.hamburger-label, .nav) {
  display: none;
}

@media (min-width: 64rem) {
  .layout {
    column-gap: 2rem;
  }

  .layout--three-column .content {
    margin-right: auto;
  }
}

@media (min-width: 82rem) {
  .layout {
    padding-inline: 0;
  }
}
