@layer components {
  code.inline-code-block {
    display: inline-block;
    margin-bottom: 1rem;
    padding: 1rem;
  }

  hr.hr {
    height: 1px;
  }

  .anchorable-heading .context-link {
    color: var(--color-foreground-primary);
  }
}
