/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

:root {
  --ifm-color-primary: #056bf0;
  --ifm-color-primary-dark: #2B57D7;
  --ifm-color-primary-darker: #1B31A3;
  --ifm-color-primary-darkest: #1E3AAF;
  --ifm-color-primary-light: #4790EC;
  --ifm-color-primary-lighter: #4E9EE5;
  --ifm-color-primary-lightest: #58AFEC;
}

[data-theme='dark'] {
  --ifm-color-primary: #58AFEC;
  --ifm-footer-background-color: #232323;
}

.heroBanner {
  padding: 4rem 0;
  text-align: left;
  position: relative;
  overflow: hidden;
  background-color: var(--ifm-color-primary);
}

.heroBanner:before {
  content: ' ';
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0.6;
  background-image: url(/img/cover@xl.avif);
  background-repeat: no-repeat;
  background-position: right center;
  background-size: cover;
}

.overlayContainer {
  position: relative;
}

[data-theme='dark'] .heroBanner {
  background-color: var(--ifm-color-primary);
  color: #fff;
}

[data-theme='dark'] .footer {
  color: #fff;
}

@media screen and (max-width: 996px) {
  .heroBanner {
    padding: 2rem;
  }
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: left;
  flex-wrap: wrap;
}

.linkButton {
  display: inline;
  margin: 0 20px 20px 0;
}
