/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */
@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,wght@0,400;0,500;0,700;1,400;1,700&display=swap");

/* You can override the default Infima variables here. */
/*
:root {
  --ifm-color-primary: #2e8555;
  --ifm-color-primary-dark: #29784c;
  --ifm-color-primary-darker: #277148;
  --ifm-color-primary-darkest: #205d3b;
  --ifm-color-primary-light: #33925d;
  --ifm-color-primary-lighter: #359962;
  --ifm-color-primary-lightest: #3cad6e;
  --ifm-code-font-size: 95%;
  --ifm-code-padding-horizontal: 0.5em;
  --ifm-code-padding-vertical: 0.25em;
  --ifm-navbar-search-input-background-color: #fff;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.1);
  --ifm-font-family-base: Inter, ui-sans-serif, system-ui, -apple-system,
    "system-ui", "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans",
    sans-serif;
  --ifm-font-family-monospace: Menlo, Monaco, "Lucida Console", Consolas,
    "Liberation Mono", "Courier New", monospace, Menlo, Monaco, "Lucida Console",
    Consolas, "Liberation Mono", "Courier New", monospace;
}
*/
/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme="dark"] {
  --ifm-color-primary: #25c2a0;
  --ifm-color-primary-dark: #21af90;
  --ifm-color-primary-darker: #1fa588;
  --ifm-color-primary-darkest: #1a8870;
  --ifm-color-primary-light: #29d5b0;
  --ifm-color-primary-lighter: #32d8b4;
  --ifm-color-primary-lightest: #4fddbf;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.3);
}

html,
body {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overscroll-behavior: none;
  overflow: auto;
  font-family: "Inter", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

article {
  max-width: 75ch;
}

h1 {
  font-size: 2rem;
  line-height: 1.2;
}

h2 {
  font-size: 1.5rem;
  line-height: 1.2;
}

h3 {
  font-size: 1.125rem;
  line-height: 1.2;
}

.navbar {
  position: fixed;
  width: 100%;
}

#__docusaurus, .main-wrapper {
  overscroll-behavior-y: none;
}

.container {
  max-width: 1140px !important;
}

.container article {
  padding: 60px 0;
}

/* Hide breadcrumbs */
.theme-doc-breadcrumbs {
  display: none;
}

.theme-doc-sidebar-container {
  position: relative;
}

.theme-doc-sidebar-container div:first-child {
  position: fixed;
}

.theme-doc-sidebar-container div:first-child div:first-child {
  position: relative;
}

.section-header {
  padding: 5px 0;
  margin: 10px var(--ifm-menu-link-padding-horizontal);
  border-bottom: 1px solid #aaa;
  color: var(--ifm-navbar-link-color);
  font-size: 1rem;
}

.menu__list-item {
  margin: 0 var(--ifm-menu-link-padding-horizontal);
}

.menu__link {
  font-size: 0.8rem;
}

.navbar__item {
  padding: 0 2px;
}

.navbar__link {
  margin-left: 10px;
  margin-right: 10px;
}

.navbar__link--active {
  font-weight: bold;
  margin-top: 3px;
  border-bottom: 3px solid var(--ifm-color-primary);
}

.navbar__logo {
  height: 1.7rem;
  margin-right: 0.7rem;
}

.navbar__logo img {
  height: 24px;
  width: 24px;
}

.navbar__title {
  font-size: 1.2rem;
}

.navbar__brand {
  margin-right: 1.5rem;
}

.footer {
  border-top: 1px solid var(--ifm-toc-border-color);
  background-color: transparent;
}

.__no-external a svg {
  display: none;
}

.icon-menu-user-guide,
.icon-menu-tutorials,
.icon-menu-api {
  margin-left: 0;
}

.icon-menu-user-guide>a,
.icon-menu-tutorials>a,
.icon-menu-api>a {
  font-size: 0.9rem;
}

.icon-menu-option .menu__link {
  position: relative;
}

.icon-menu-option .menu__link::before {
  content: "";
  display: inline-block;
  width: 24px;
  height: 24px;
  margin-right: 8px;
  background-color: currentColor;
  --svg: url("https://api.iconify.design/ic/baseline-electric-bolt.svg");
  -webkit-mask-image: var(--svg);
  mask-image: var(--svg);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
}

.icon-menu-quick-start .menu__link::before {
  --svg: url("https://api.iconify.design/ic/baseline-electric-bolt.svg");
}

.icon-menu-user-guide .menu__link::before {
  --svg: url("https://api.iconify.design/ic/sharp-menu-book.svg");
}

.icon-menu-tutorials .menu__link::before {
  --svg: url("https://api.iconify.design/ic/baseline-integration-instructions.svg");
}

.icon-menu-api .menu__link::before {
  --svg: url("https://api.iconify.design/ic/baseline-data-object.svg");
}