.container {
  width: 100%;
}
@media (min-width: 640px) {
  .container {
    max-width: 640px;
  }
}
@media (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}
@media (min-width: 1024px) {
  .container {
    max-width: 1024px;
  }
}
@media (min-width: 1280px) {
  .container {
    max-width: 1280px;
  }
}
@media (min-width: 1536px) {
  .container {
    max-width: 1536px;
  }
}
.static {
  position: static;
}
.relative {
  position: relative;
}
.\!mb-0 {
  margin-bottom: 0 !important;
}
.\!mt-2 {
  margin-top: 0.5rem !important;
}
.mb-1 {
  margin-bottom: 0.25rem;
}
.ml-4 {
  margin-left: 1rem;
}
.ml-indent {
  margin-left: 2ch;
}
.mr-2 {
  margin-right: 0.5rem;
}
.mt-3 {
  margin-top: 0.75rem;
}
.inline {
  display: inline;
}
.\!flex {
  display: flex !important;
}
.flex {
  display: flex;
}
.inline-flex {
  display: inline-flex;
}
.table {
  display: table;
}
.contents {
  display: contents;
}
.hidden {
  display: none;
}
.h-4 {
  height: 1rem;
}
.h-5 {
  height: 1.25rem;
}
.min-w-0 {
  min-width: 0;
}
.max-w-\[75ch\] {
  max-width: 75ch;
}
.flex-1 {
  flex: 1;
}
.flex-none {
  flex: none;
}
.rotate-90 {
  --tw-rotate: 90deg;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y))
    rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y))
    scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}
.scroll-mt-16 {
  scroll-margin-top: 4rem;
}
.items-center {
  align-items: center;
}
.gap-0 {
  gap: 0;
}
.gap-0\.5 {
  gap: 0.125rem;
}
.gap-1 {
  gap: 0.25rem;
}
.space-x-1 > :not([hidden]) ~ :not([hidden]) {
  --tw-space-x-reverse: 0;
  margin-right: calc(0.25rem * var(--tw-space-x-reverse));
  margin-left: calc(0.25rem * calc(1 - var(--tw-space-x-reverse)));
}
.space-x-2 > :not([hidden]) ~ :not([hidden]) {
  --tw-space-x-reverse: 0;
  margin-right: calc(0.5rem * var(--tw-space-x-reverse));
  margin-left: calc(0.5rem * calc(1 - var(--tw-space-x-reverse)));
}
.space-y-2 > :not([hidden]) ~ :not([hidden]) {
  --tw-space-y-reverse: 0;
  margin-top: calc(0.5rem * calc(1 - var(--tw-space-y-reverse)));
  margin-bottom: calc(0.5rem * var(--tw-space-y-reverse));
}
.space-y-7 > :not([hidden]) ~ :not([hidden]) {
  --tw-space-y-reverse: 0;
  margin-top: calc(1.75rem * calc(1 - var(--tw-space-y-reverse)));
  margin-bottom: calc(1.75rem * var(--tw-space-y-reverse));
}
.space-y-8 > :not([hidden]) ~ :not([hidden]) {
  --tw-space-y-reverse: 0;
  margin-top: calc(2rem * calc(1 - var(--tw-space-y-reverse)));
  margin-bottom: calc(2rem * var(--tw-space-y-reverse));
}
.break-words {
  overflow-wrap: break-word;
}
.break-all {
  word-break: break-all;
}
.rounded {
  border-radius: 0.25rem;
}
.rounded-md {
  border-radius: 0.375rem;
}
.border {
  border-width: 1px;
}
.border-b {
  border-bottom-width: 1px;
}
.border-l-2 {
  border-left-width: 2px;
}
.border-Class\/50 {
  border-color: #20b44b80;
}
.border-Enum\/50 {
  border-color: #22abb080;
}
.border-Function\/50 {
  border-color: #056cf080;
}
.border-Interface\/50 {
  border-color: #d2a06480;
}
.border-Method\/50 {
  border-color: #056cf080;
}
.border-Namespace\/50 {
  border-color: #d2564680;
}
.border-Property\/50 {
  border-color: #7e57c080;
}
.border-TypeAlias\/50 {
  border-color: #a4478c80;
}
.border-Variable\/50 {
  border-color: #7e57c080;
}
.border-abstract\/50 {
  border-color: #0cafc680;
}
.border-deprecated\/50 {
  border-color: #dc262680;
}
.border-gray-300 {
  --tw-border-opacity: 1;
  border-color: rgb(209 213 219/var(--tw-border-opacity));
}
.border-new\/50 {
  border-color: #7b61ff80;
}
.border-optional\/50 {
  border-color: #0cafc680;
}
.border-other\/50 {
  border-color: #57534e80;
}
.border-permissions\/50, .border-private\/50 {
  border-color: #0cafc680;
}
.border-protected\/50, .border-readonly\/50 {
  border-color: #7b61ff80;
}
.border-stone-300 {
  --tw-border-opacity: 1;
  border-color: rgb(214 211 209/var(--tw-border-opacity));
}
.border-unstable\/50, .border-writeonly\/50 {
  border-color: #7b61ff80;
}
.bg-Class\/15 {
  background-color: #20b44b26;
}
.bg-Class\/5 {
  background-color: #20b44b0d;
}
.bg-Enum\/15 {
  background-color: #22abb026;
}
.bg-Enum\/5 {
  background-color: #22abb00d;
}
.bg-Function\/15 {
  background-color: #056cf026;
}
.bg-Function\/5 {
  background-color: #056cf00d;
}
.bg-Interface\/15 {
  background-color: #d2a06426;
}
.bg-Interface\/5 {
  background-color: #d2a0640d;
}
.bg-Method\/15 {
  background-color: #056cf026;
}
.bg-Method\/5 {
  background-color: #056cf00d;
}
.bg-Namespace\/15 {
  background-color: #d2564626;
}
.bg-Namespace\/5 {
  background-color: #d256460d;
}
.bg-Property\/15 {
  background-color: #7e57c026;
}
.bg-Property\/5 {
  background-color: #7e57c00d;
}
.bg-TypeAlias\/15 {
  background-color: #a4478c26;
}
.bg-TypeAlias\/5 {
  background-color: #a4478c0d;
}
.bg-Variable\/15 {
  background-color: #7e57c026;
}
.bg-Variable\/5 {
  background-color: #7e57c00d;
}
.bg-abstract\/15 {
  background-color: #0cafc626;
}
.bg-abstract\/5 {
  background-color: #0cafc60d;
}
.bg-deprecated\/15 {
  background-color: #dc262626;
}
.bg-deprecated\/5 {
  background-color: #dc26260d;
}
.bg-new\/15 {
  background-color: #7b61ff26;
}
.bg-new\/5 {
  background-color: #7b61ff0d;
}
.bg-optional\/15 {
  background-color: #0cafc626;
}
.bg-optional\/5 {
  background-color: #0cafc60d;
}
.bg-other\/15 {
  background-color: #57534e26;
}
.bg-other\/5 {
  background-color: #57534e0d;
}
.bg-permissions\/15 {
  background-color: #0cafc626;
}
.bg-permissions\/5 {
  background-color: #0cafc60d;
}
.bg-private\/15 {
  background-color: #0cafc626;
}
.bg-private\/5 {
  background-color: #0cafc60d;
}
.bg-protected\/15 {
  background-color: #7b61ff26;
}
.bg-protected\/5 {
  background-color: #7b61ff0d;
}
.bg-readonly\/15 {
  background-color: #7b61ff26;
}
.bg-readonly\/5 {
  background-color: #7b61ff0d;
}
.bg-stone-100 {
  --tw-bg-opacity: 1;
  background-color: rgb(245 245 244/var(--tw-bg-opacity));
}
.bg-unstable\/15 {
  background-color: #7b61ff26;
}
.bg-unstable\/5 {
  background-color: #7b61ff0d;
}
.bg-writeonly\/15 {
  background-color: #7b61ff26;
}
.bg-writeonly\/5 {
  background-color: #7b61ff0d;
}
.px-2 {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}
.px-3 {
  padding-left: 0.75rem;
  padding-right: 0.75rem;
}
.px-4 {
  padding-left: 1rem;
  padding-right: 1rem;
}
.py-1 {
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
}
.py-2 {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}
.pb-5 {
  padding-bottom: 1.25rem;
}
.pt-4 {
  padding-top: 1rem;
}
.text-2xl {
  font-size: 1.5rem;
  line-height: 2rem;
}
.text-base {
  font-size: 1rem;
  line-height: 1.5rem;
}
.text-sm {
  font-size: 0.875rem;
  line-height: 1.25rem;
}
.font-bold {
  font-weight: 700;
}
.font-medium {
  font-weight: 500;
}
.font-normal {
  font-weight: 400;
}
.italic {
  font-style: italic;
}
.leading-none {
  line-height: 1;
}
.text-Class {
  --tw-text-opacity: 1;
  color: rgb(32 180 75/var(--tw-text-opacity));
}
.text-Enum {
  --tw-text-opacity: 1;
  color: rgb(34 171 176/var(--tw-text-opacity));
}
.text-Function {
  --tw-text-opacity: 1;
  color: rgb(5 108 240/var(--tw-text-opacity));
}
.text-Interface {
  --tw-text-opacity: 1;
  color: rgb(210 160 100/var(--tw-text-opacity));
}
.text-Method {
  --tw-text-opacity: 1;
  color: rgb(5 108 240/var(--tw-text-opacity));
}
.text-Namespace {
  --tw-text-opacity: 1;
  color: rgb(210 86 70/var(--tw-text-opacity));
}
.text-Property {
  --tw-text-opacity: 1;
  color: rgb(126 87 192/var(--tw-text-opacity));
}
.text-TypeAlias {
  --tw-text-opacity: 1;
  color: rgb(164 71 140/var(--tw-text-opacity));
}
.text-Variable {
  --tw-text-opacity: 1;
  color: rgb(126 87 192/var(--tw-text-opacity));
}
.text-\[\#0F172A\] {
  --tw-text-opacity: 1;
  color: rgb(15 23 42/var(--tw-text-opacity));
}
.text-abstract {
  --tw-text-opacity: 1;
  color: rgb(12 175 198/var(--tw-text-opacity));
}
.text-deprecated {
  --tw-text-opacity: 1;
  color: rgb(220 38 38/var(--tw-text-opacity));
}
.text-new {
  --tw-text-opacity: 1;
  color: rgb(123 97 255/var(--tw-text-opacity));
}
.text-optional {
  --tw-text-opacity: 1;
  color: rgb(12 175 198/var(--tw-text-opacity));
}
.text-other {
  --tw-text-opacity: 1;
  color: rgb(87 83 78/var(--tw-text-opacity));
}
.text-permissions, .text-private {
  --tw-text-opacity: 1;
  color: rgb(12 175 198/var(--tw-text-opacity));
}
.text-protected, .text-readonly {
  --tw-text-opacity: 1;
  color: rgb(123 97 255/var(--tw-text-opacity));
}
.text-stone-500 {
  --tw-text-opacity: 1;
  color: rgb(120 113 108/var(--tw-text-opacity));
}
.text-unstable, .text-writeonly {
  --tw-text-opacity: 1;
  color: rgb(123 97 255/var(--tw-text-opacity));
}
.filter {
  filter: var(--tw-blur)var(--tw-brightness)var(--tw-contrast)var(
    --tw-grayscale
  )var(--tw-hue-rotate)var(--tw-invert)var(--tw-saturate)var(--tw-sepia)var(
    --tw-drop-shadow
  );
}
summary::-webkit-details-marker {
  display: none;
}
a {
  word-wrap: break-word;
}

.section {
  max-width: 75ch;
  margin-bottom: 0.5rem;
  scroll-margin-top: 4rem;
}
.section > :not([hidden]) ~ :not([hidden]) {
  --tw-space-y-reverse: 0;
  margin-top: calc(0.5rem * calc(1 - var(--tw-space-y-reverse)));
  margin-bottom: calc(0.5rem * var(--tw-space-y-reverse));
}
.section > div:first-child > :not([hidden]) ~ :not([hidden]) {
  --tw-space-y-reverse: 0;
  margin-top: calc(0.5rem * calc(1 - var(--tw-space-y-reverse)));
  margin-bottom: calc(0.5rem * var(--tw-space-y-reverse));
}
.section > div:first-child > h2 {
  margin-bottom: 0;
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
  font-size: 1.25rem;
  font-weight: 600;
  line-height: 1.5rem;
}
.section > div:first-child > div {
  max-width: 75ch;
  font-size: 1rem;
  line-height: 1.5rem;
}
.namespaceSection {
  max-width: 75ch;
  margin-top: 1rem;
}
.namespaceSection > :not([hidden]) ~ :not([hidden]) {
  --tw-space-y-reverse: 0;
  margin-top: calc(1rem * calc(1 - var(--tw-space-y-reverse)));
  margin-bottom: calc(1rem * var(--tw-space-y-reverse));
}
.namespaceSection .namespaceItem {
  -moz-column-gap: 0.625rem;
  column-gap: 0.625rem;
  min-height: 0;
  display: flex;
}
@media (min-width: 768px) {
  .namespaceSection .namespaceItem {
    min-height: 4rem;
  }
}
@media (min-width: 1024px) {
  .namespaceSection .namespaceItem {
    padding-right: 1rem;
  }
}
.namespaceSection .namespaceItem .docNodeKindIcon {
  flex-direction: column;
  justify-content: flex-start;
  width: auto;
}
.namespaceSection .namespaceItem .docNodeKindIcon > * + * {
  margin-top: -0.125rem;
  margin-left: 0;
}
.namespaceSection .namespaceItem[aria-label="deprecated"] {
  opacity: 0.6;
}
.namespaceSection
  .namespaceItem[aria-label="deprecated"]
  .namespaceItemContent
  > a {
  --tw-text-opacity: 1;
  color: rgb(120 113 108/var(--tw-text-opacity));
  text-decoration-line: line-through;
  text-decoration-color: #78716cb3;
  text-decoration-thickness: 2px;
}
.namespaceSection .namespaceItem .namespaceItemContent > a,
.namespaceSection
  .namespaceItem
  .namespaceItemContent
  .namespaceItemContentSubItems
  a {
  text-decoration-line: underline;
  text-decoration-color: #d6d3d1;
}
:is(
  .namespaceSection .namespaceItem .namespaceItemContent > a,
  .namespaceSection
    .namespaceItem
    .namespaceItemContent
    .namespaceItemContentSubItems
    a
):hover {
  text-decoration-line: none;
}
.namespaceSection .namespaceItem .namespaceItemContent > a {
  word-break: break-all;
  font-weight: 500;
  line-height: 1.25;
  display: block;
}
.namespaceSection
  .namespaceItem
  .namespaceItemContent
  .namespaceItemContentDoc {
  --tw-text-opacity: 1;
  color: rgb(87 83 78/var(--tw-text-opacity));
  margin-top: 0.5rem;
  font-size: 0.875rem;
  line-height: 1.25rem;
}
.namespaceSection
  .namespaceItem
  .namespaceItemContent
  .namespaceItemContentSubItems {
  flex-wrap: wrap;
  row-gap: 0.25rem;
  margin-top: 0.375rem;
  font-size: 0.875rem;
  line-height: 1.25rem;
  display: flex;
}
.namespaceSection
  .namespaceItem
  .namespaceItemContent
  .namespaceItemContentSubItems
  > li:not(:last-child):after {
  content: "|";
  -webkit-user-select: none;
  user-select: none;
  --tw-text-opacity: 1;
  color: rgb(209 213 219/var(--tw-text-opacity));
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}
.symbolGroup > :not([hidden]) ~ :not([hidden]) {
  --tw-space-y-reverse: 0;
  margin-top: calc(3rem * calc(1 - var(--tw-space-y-reverse)));
  margin-bottom: calc(3rem * var(--tw-space-y-reverse));
}
.symbolGroup article > :not([hidden]) ~ :not([hidden]) {
  --tw-space-y-reverse: 0;
  margin-top: calc(1.25rem * calc(1 - var(--tw-space-y-reverse)));
  margin-bottom: calc(1.25rem * var(--tw-space-y-reverse));
}
.symbolGroup article > div:first-child {
  justify-content: space-between;
  align-items: flex-start;
  display: flex;
}
.symbolGroup
  article
  > div:first-child
  > div:first-child
  > :not([hidden])
  ~ :not([hidden]) {
  --tw-space-y-reverse: 0;
  margin-top: calc(0.25rem * calc(1 - var(--tw-space-y-reverse)));
  margin-bottom: calc(0.25rem * var(--tw-space-y-reverse));
}
.symbolGroup article > div:first-child > div:first-child {
  font-weight: 500;
}
.docNodeKindIcon {
  flex-shrink: 0;
  justify-content: flex-end;
  display: inline-flex;
}
.docNodeKindIcon div {
  -webkit-user-select: none;
  user-select: none;
  text-align: center;
  vertical-align: middle;
  border-radius: 9999px;
  flex-shrink: 0;
  width: 1.25rem;
  height: 1.25rem;
  font-family:
    ui-monospace,
    SFMono-Regular,
    Menlo,
    Monaco,
    Consolas,
    Liberation Mono,
    Courier New,
    monospace;
  font-size: 0.75rem;
  font-weight: 500;
  line-height: 1.25rem;
}
.docNodeKindIcon > * + * {
  margin-left: -0.375rem;
}
.example-header {
  margin-bottom: 0.75rem;
  font-size: 1.125rem;
  font-weight: 700;
  line-height: 1.75rem;
}
.toc h3 {
  margin-bottom: 0.75rem;
  font-size: 1.125rem;
  font-weight: 700;
  line-height: 1.75rem;
}
.toc > div > :not([hidden]) ~ :not([hidden]) {
  --tw-space-y-reverse: 0;
  margin-top: calc(1.25rem * calc(1 - var(--tw-space-y-reverse)));
  margin-bottom: calc(1.25rem * var(--tw-space-y-reverse));
}
.toc .topSymbols > :not([hidden]) ~ :not([hidden]) {
  --tw-space-y-reverse: 0;
  margin-top: calc(0.75rem * calc(1 - var(--tw-space-y-reverse)));
  margin-bottom: calc(0.75rem * var(--tw-space-y-reverse));
}
.toc .topSymbols {
  font-size: 0.875rem;
  line-height: 1.25rem;
}
.toc .topSymbols ul {
  list-style-type: none;
}
.toc .topSymbols ul > :not([hidden]) ~ :not([hidden]) {
  --tw-space-y-reverse: 0;
  margin-top: calc(0.625rem * calc(1 - var(--tw-space-y-reverse)));
  margin-bottom: calc(0.625rem * var(--tw-space-y-reverse));
}
.toc .topSymbols ul li {
  display: block;
}
.toc .topSymbols ul li a {
  align-items: center;
  gap: 0.5rem;
  display: flex;
}
.toc .topSymbols ul li a > span {
  text-overflow: ellipsis;
  white-space: nowrap;
  border-radius: 0.25rem;
  width: 100%;
  margin-top: -0.125rem;
  margin-bottom: -0.125rem;
  margin-left: -0.25rem;
  padding-top: 0.125rem;
  padding-bottom: 0.125rem;
  padding-left: 0.25rem;
  display: block;
  overflow: hidden;
}
.toc .topSymbols > a:hover {
  text-decoration-line: underline;
}
.toc .documentNavigation > :not([hidden]) ~ :not([hidden]) {
  --tw-space-y-reverse: 0;
  margin-top: calc(0.75rem * calc(1 - var(--tw-space-y-reverse)));
  margin-bottom: calc(0.75rem * var(--tw-space-y-reverse));
}
.toc .documentNavigation {
  font-size: 0.875rem;
  line-height: 1.25rem;
}
@media not all and (min-width: 640px) {
  .toc .documentNavigation {
    display: none;
  }
}
.toc .documentNavigation > ul {
  flex-grow: 1;
  display: block;
}
.toc .documentNavigation > ul > :not([hidden]) ~ :not([hidden]) {
  --tw-space-y-reverse: 0;
  margin-top: calc(0.5rem * calc(1 - var(--tw-space-y-reverse)));
  margin-bottom: calc(0.5rem * var(--tw-space-y-reverse));
}
.toc .documentNavigation > ul {
  overflow-y: auto;
}
.toc .documentNavigation > ul > li {
  margin-top: 0.125rem;
  margin-left: 0.75rem;
  margin-right: 0.75rem;
}
.toc .documentNavigation > ul li:has(> ul) {
  margin-top: 0 !important;
}
.toc .documentNavigation > ul li:has(> a) {
  padding-bottom: 0 !important;
}
.toc .documentNavigation > ul ul {
  margin-left: 0.875rem;
}
.toc .documentNavigation > ul ul > :not([hidden]) ~ :not([hidden]) {
  --tw-space-y-reverse: 0;
  margin-top: calc(0.5rem * calc(1 - var(--tw-space-y-reverse)));
  margin-bottom: calc(0.5rem * var(--tw-space-y-reverse));
}
.toc .documentNavigation > ul ul {
  --tw-text-opacity: 1;
  color: rgb(134 135 137/var(--tw-text-opacity));
  font-size: 0.8rem;
  line-height: 1;
}
.toc .documentNavigation > ul ul li {
  margin-top: 0.25rem !important;
}
.toc .documentNavigation > ul ul li a {
  padding: 0.25rem;
}
.toc .documentNavigation > ul ul li a:hover {
  --tw-text-opacity: 1;
  color: rgb(0 0 0/var(--tw-text-opacity));
}
.toc .documentNavigation a {
  text-overflow: ellipsis;
  white-space: nowrap;
  display: block;
  overflow: hidden;
}
.toc .documentNavigation a:hover {
  text-decoration-line: underline;
}
.usages nav {
  flex-direction: row;
  align-items: center;
  gap: 0.5rem;
  margin-bottom: 0.75rem;
  font-weight: 600;
  display: flex;
}
.usages nav details > summary {
  cursor: pointer;
  -webkit-user-select: none;
  user-select: none;
  --tw-border-opacity: 1;
  border-width: 1px;
  border-color: rgb(209 213 219/var(--tw-border-opacity));
  border-radius: 0.25rem;
  gap: 0.25rem;
  padding: 0.5rem 0.75rem;
  display: flex;
}
@media (min-width: 768px) {
  .usages nav details > div {
    position: relative;
  }
}
.usages nav details > div > div {
  z-index: 30;
  --tw-border-opacity: 1;
  border-width: 1px;
  border-color: rgb(209 213 219/var(--tw-border-opacity));
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255/var(--tw-bg-opacity));
  margin-top: 0.375rem;
  padding: 0.5rem;
  display: block;
  position: absolute;
}
@media not all and (min-width: 768px) {
  .usages nav details > div > div {
    border-left-width: 0;
    border-right-width: 0;
    left: 0;
    right: 0;
  }
}
@media (min-width: 768px) {
  .usages nav details > div > div {
    border-radius: 0.25rem;
    width: 12rem;
  }
}
.usages nav details > div > div label {
  cursor: pointer;
  -webkit-user-select: none;
  user-select: none;
  border-radius: 0.125rem;
  align-items: center;
  gap: 0.5rem;
  padding: 0.25rem 0.5rem;
  line-height: 1.5;
  display: flex;
}
.usages nav details > div > div label:hover {
  --tw-bg-opacity: 1;
  background-color: rgb(249 250 251/var(--tw-bg-opacity));
}
.usageContent > h3 {
  margin-bottom: 0.75rem;
  font-size: 1.125rem;
  font-weight: 700;
  line-height: 1.75rem;
}
.usageContent > div {
  --tw-text-opacity: 1;
  color: rgb(104 104 104/var(--tw-text-opacity));
  font-size: 0.75rem;
  line-height: 1rem;
}
.usageContent > div p {
  margin: 0;
}
.usageContent pre.highlight {
  --tw-border-opacity: 1;
  border-width: 1px;
  border-color: rgb(209 213 219/var(--tw-border-opacity));
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255/var(--tw-bg-opacity));
}
@media not all and (min-width: 768px) {
  .usageContent pre.highlight {
    border-left-width: 0;
    border-right-width: 0;
  }
}
.usageContent pre.highlight {
  margin-top: 0.25rem !important;
}
.usageContent pre.highlight > code:first-child {
  scrollbar-width: thin;
  padding: 0.5rem 0.75rem;
}
.usageContent pre.highlight .context_button {
  border-width: 0;
  display: none;
  top: 0.25rem;
  right: 0.5rem;
}
.usageContent pre.highlight .context_button svg rect {
  fill: #fff;
}
.usageContent pre.highlight:hover .context_button {
  opacity: 1;
  display: block;
}
#categoryPanel {
  padding-top: 0.75rem;
  font-size: 0.875rem;
  line-height: 1.25rem;
}
#categoryPanel ul > :not([hidden]) ~ :not([hidden]) {
  --tw-space-y-reverse: 0;
  margin-top: calc(0.5rem * calc(1 - var(--tw-space-y-reverse)));
  margin-bottom: calc(0.5rem * var(--tw-space-y-reverse));
}
#categoryPanel ul {
  overflow-y: auto;
}
#categoryPanel ul li {
  margin-left: 0.25rem;
  margin-right: 0.75rem;
}
#categoryPanel ul li a {
  text-overflow: ellipsis;
  white-space: nowrap;
  padding: 0.375rem 0.875rem;
  display: block;
  overflow: hidden;
}
#categoryPanel ul li a:hover {
  text-decoration-line: underline;
}
.contextLink {
  color: #0e6590cc;
  text-underline-offset: 0.15em;
  text-decoration-line: underline;
  text-decoration-color: #0e659080;
  text-decoration-thickness: 1.5px;
}
.contextLink:hover {
  --tw-text-opacity: 1;
  color: rgb(14 101 144/var(--tw-text-opacity));
  text-decoration-color: #0e6590;
}
.contextLink {
  -webkit-text-decoration-skip: ink;
  -webkit-text-decoration-skip-ink: auto;
  text-decoration-skip-ink: auto;
}
.breadcrumbs {
  word-break: break-all;
  flex-wrap: wrap;
  align-items: center;
  gap: 0.25rem;
  display: inline-flex;
}
.breadcrumbs > li:first-child {
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1;
}
.breadcrumbs li {
  font-size: 1.125rem;
  line-height: 0.9em;
  display: inline;
}
@media (min-width: 1024px) {
  .breadcrumbs li {
    font-size: 1.25rem;
    line-height: 1.75rem;
  }
}
.context_button {
  z-index: 10;
  cursor: pointer;
  background-color: inherit;
  border-width: 1px;
  border-radius: 0.25rem;
  padding: 0.375rem;
  line-height: 0;
}
.context_button:hover {
  --tw-bg-opacity: 1;
  background-color: rgb(231 229 228/var(--tw-bg-opacity));
}
.see {
  list-style-type: disc;
  list-style-position: inside;
}
.see > li * {
  display: inline-block;
}
.\*\:h-4 > * {
  height: 1rem;
}
.\*\:h-5 > * {
  height: 1.25rem;
}
.\*\:w-auto > * {
  width: auto;
}
.\*\:flex-none > * {
  flex: none;
}
.hover\:bg-Class\/15:hover {
  background-color: #20b44b26;
}
.hover\:bg-Class\/5:hover {
  background-color: #20b44b0d;
}
.hover\:bg-Enum\/15:hover {
  background-color: #22abb026;
}
.hover\:bg-Enum\/5:hover {
  background-color: #22abb00d;
}
.hover\:bg-Function\/15:hover {
  background-color: #056cf026;
}
.hover\:bg-Function\/5:hover {
  background-color: #056cf00d;
}
.hover\:bg-Interface\/15:hover {
  background-color: #d2a06426;
}
.hover\:bg-Interface\/5:hover {
  background-color: #d2a0640d;
}
.hover\:bg-Method\/15:hover {
  background-color: #056cf026;
}
.hover\:bg-Method\/5:hover {
  background-color: #056cf00d;
}
.hover\:bg-Namespace\/15:hover {
  background-color: #d2564626;
}
.hover\:bg-Namespace\/5:hover {
  background-color: #d256460d;
}
.hover\:bg-Property\/15:hover {
  background-color: #7e57c026;
}
.hover\:bg-Property\/5:hover {
  background-color: #7e57c00d;
}
.hover\:bg-TypeAlias\/15:hover {
  background-color: #a4478c26;
}
.hover\:bg-TypeAlias\/5:hover {
  background-color: #a4478c0d;
}
.hover\:bg-Variable\/15:hover {
  background-color: #7e57c026;
}
.hover\:bg-Variable\/5:hover {
  background-color: #7e57c00d;
}
.hover\:bg-abstract\/15:hover {
  background-color: #0cafc626;
}
.hover\:bg-abstract\/5:hover {
  background-color: #0cafc60d;
}
.hover\:bg-deprecated\/15:hover {
  background-color: #dc262626;
}
.hover\:bg-deprecated\/5:hover {
  background-color: #dc26260d;
}
.hover\:bg-new\/15:hover {
  background-color: #7b61ff26;
}
.hover\:bg-new\/5:hover {
  background-color: #7b61ff0d;
}
.hover\:bg-optional\/15:hover {
  background-color: #0cafc626;
}
.hover\:bg-optional\/5:hover {
  background-color: #0cafc60d;
}
.hover\:bg-other\/15:hover {
  background-color: #57534e26;
}
.hover\:bg-other\/5:hover {
  background-color: #57534e0d;
}
.hover\:bg-permissions\/15:hover {
  background-color: #0cafc626;
}
.hover\:bg-permissions\/5:hover {
  background-color: #0cafc60d;
}
.hover\:bg-private\/15:hover {
  background-color: #0cafc626;
}
.hover\:bg-private\/5:hover {
  background-color: #0cafc60d;
}
.hover\:bg-protected\/15:hover {
  background-color: #7b61ff26;
}
.hover\:bg-protected\/5:hover {
  background-color: #7b61ff0d;
}
.hover\:bg-readonly\/15:hover {
  background-color: #7b61ff26;
}
.hover\:bg-readonly\/5:hover {
  background-color: #7b61ff0d;
}
.hover\:bg-unstable\/15:hover {
  background-color: #7b61ff26;
}
.hover\:bg-unstable\/5:hover {
  background-color: #7b61ff0d;
}
.hover\:bg-writeonly\/15:hover {
  background-color: #7b61ff26;
}
.hover\:bg-writeonly\/5:hover {
  background-color: #7b61ff0d;
}

.sticky {
  position: sticky;
}
.top-0 {
  top: 0;
}
.z-50 {
  z-index: 50;
}
.block {
  display: block;
}
.flex {
  display: flex;
}
.h-14 {
  height: 3.5rem;
}
.h-full {
  height: 100%;
}
.items-center {
  align-items: center;
}
.justify-between {
  justify-content: space-between;
}
.gap-2 {
  gap: 0.5rem;
}
.gap-2\.5 {
  gap: 0.625rem;
}
.gap-4 {
  gap: 1rem;
}
.rounded {
  border-radius: 0.25rem;
}
.rounded-lg {
  border-radius: 0.5rem;
}
.border {
  border-width: 1px;
}
.border-gray-300 {
  --tw-border-opacity: 1;
  border-color: rgb(209 213 219/var(--tw-border-opacity));
}
.bg-transparent {
  background-color: #0000;
}
.bg-white {
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255/var(--tw-bg-opacity));
}
.px-2 {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}
.px-2\.5 {
  padding-left: 0.625rem;
  padding-right: 0.625rem;
}
.px-3 {
  padding-left: 0.75rem;
  padding-right: 0.75rem;
}
.py-2 {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}
.py-3 {
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
}
.text-sm {
  font-size: 0.875rem;
  line-height: 1.25rem;
}
.leading-none {
  line-height: 1;
}
.blur {
  --tw-blur: blur(8px);
  filter: var(--tw-blur)var(--tw-brightness)var(--tw-contrast)var(
    --tw-grayscale
  )var(--tw-hue-rotate)var(--tw-invert)var(--tw-saturate)var(--tw-sepia)var(
    --tw-drop-shadow
  );
}

#categoryPanel {
  box-sizing: border-box;
  flex-shrink: 0;
  width: 250px;
  height: 100vh;
  margin-top: 0;
  padding-top: 0;
  position: sticky;
  top: 0;
}
@media not all and (min-width: 1024px) {
  #categoryPanel {
    display: none;
  }
}
#categoryPanel > ul {
  max-height: 100%;
  overflow-y: auto;
}
#content {
  margin-top: 1rem;
}
#content > main {
  flex-direction: column;
  flex-grow: 1;
  grid-column: 1/-1;
  gap: 0.75rem;
  min-width: 0;
  padding-bottom: 0;
  display: flex;
}
@media (min-width: 768px) {
  #content > main {
    padding-bottom: 2rem;
  }
}
@media (min-width: 1024px) {
  #content > main {
    padding-bottom: 3rem;
  }
  #content:has(.toc) > main {
    grid-column: span 3/span 3;
    grid-row-start: 1;
  }
}
#topnav {
  margin-left: -1rem;
  padding-left: 1rem;
}
#content, #topnav > div {
  flex-direction: row;
  justify-content: space-between;
  gap: 2rem;
  display: flex;
}
@media (min-width: 1024px) {
  #content, #topnav > div {
    gap: 3rem;
  }
}
.toc, #searchbar {
  flex-shrink: 0;
  min-width: 250px;
  max-width: 300px;
}
.toc {
  box-sizing: border-box;
  row-gap: 1rem;
  height: fit-content;
  max-height: 100vh;
  margin-top: -3.5rem;
  padding-top: 3.5rem;
  position: sticky;
  top: 0;
}
@media not all and (min-width: 1024px) {
  .toc {
    grid-row-start: 1;
  }
}
@media not all and (min-width: 640px) {
  .toc {
    display: none;
  }
}
@media (min-width: 640px) {
  .toc {
    flex-direction: column;
    display: flex;
  }
}
@media (min-width: 1024px) {
  .toc {
    grid-column: span 1/-1;
  }
}
.toc > div {
  max-height: 100%;
}
@media (min-width: 1024px) {
  .toc > div {
    overflow-y: auto;
  }
}
.toc > div > :last-child {
  padding-bottom: 1rem;
}
.hover\:bg-stone-100:hover {
  --tw-bg-opacity: 1;
  background-color: rgb(245 245 244/var(--tw-bg-opacity));
}
