:root {
  --max-text-width: 40rem;
}

body {
  min-height: 100vh;
  margin: 0;
  background-color: hsl(var(--background-primary));
  color: hsl(var(--foreground-primary));
}

p {
  max-width: var(--max-text-width);
}

.blocklink {
  padding: 0.25rem 0.75rem;
  margin: 0 0.5rem;
  border-radius: 0.25rem;
  border: 1px solid transparent;
  transition: all 200ms ease-in-out;
  color: hsl(var(--foreground-primary));
  &:hover {
    text-decoration: none;
    background-color: hsl(var(--background-secondary));
    border-color: hsl(var(--background-tertiary));
  }
}

@media screen and (min-width: 1024px) {
  .container {
    display: grid;
    grid-template-areas:
      "nav main"
      "nav footer";
    grid-template-columns: auto 1fr;
  }

  .nav {
    grid-area: nav;
  }
  footer {
    grid-area: footer;
  }
  .content {
    grid-area: main;
  }

  .container:has(.raw-container) {
    display: contents;
    .nav {
      display: none;
    }
  }

  .raw-container {
    min-width: 100vw;
  }
}
