.docs-cta {
  @apply border text-balance text-black font-bold inline-block py-3.5 px-6
    rounded-full w-max hover:no-underline transition-colors duration-200 m-4
    ml-0;
}

.runtime-cta,
.deploy-cta {
  @apply border-gray-900 hover:!no-underline !text-gray-900;
}

.runtime-cta {
  @apply bg-runtime-400 border-0 hover:bg-runtime-300;
}

.deploy-cta {
  @apply bg-deploy-300 rounded-full border-0 hover:bg-deploy-400;
}

.jsr-cta {
  @apply bg-jsr-yellow-400 border-jsr-cyan-950 !text-jsr-cyan-950 border-2
    hover:!no-underline hover:bg-jsr-yellow-300;
}

.deploy-button {
  padding-left: 3rem;
  background-image: url("../deno-deploy.svg");
  background-repeat: no-repeat;
  background-position: 1.25rem center;
  background-size: 1.25rem;
}
