footer {
  padding: 3rem 1rem 1rem;
  border-top: 1px solid hsl(var(--foreground-tertiary));
}

.footer-nav {
  display: flex;
  flex-direction: column;
  row-gap: 3rem;
}

.copyright {
  margin: 4rem auto 0;
  text-align: center;
  font-size: 0.9rem;
  color: hsl(var(--foreground-secondary));
}

@media (min-width: 40rem) {
  footer {
    padding-inline: 2rem;
  }
}

@media (min-width: 48rem) {
  .footer-nav {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    max-width: 80rem;
    row-gap: 2rem;
    margin: 0 auto;
  }
}
