footer {
  padding: 3rem 1rem 1rem;
  border-top: 1px solid hsl(var(--foreground-tertiary));
}

.footer-nav {
  display: flex;
  flex-direction: column;
  row-gap: 3rem;
}

.footer-section {
  min-width: 170px;
}

.footer-section-heading {
  margin-bottom: 1rem;
  font-size: 1rem;
  font-weight: bold;
  color: hsl(var(--foreground-secondary));
}

.footer-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.footer-link {
  display: block;
  margin-bottom: 0.5rem;
  color: hsl(var(--foreground-secondary));
  &:hover {
    color: var(--primary);
  }
}

.copyright {
  margin: 4rem auto 0;
  text-align: center;
  font-size: 0.9rem;
  color: hsl(var(--foreground-secondary));
}

@media (min-width: 40rem) {
  footer {
    padding-inline: 2rem;
  }
}

@media (min-width: 48rem) {
  .footer-nav {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    max-width: 72rem;
    row-gap: 2rem;
    margin: 0 auto;
  }
}
