.hamburger-checkbox {
  display: none;
}

.hamburger-label {
  height: 100%;
  padding-block: 1.5rem;
  width: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.hamburger-icon {
  :focus {
    border: 2px solid hsl(var(--foreground-primary));
  }
}

.hamburger-bar {
  display: block;
  width: 1.3rem;
  height: 2px;
  background-color: hsl(var(--foreground-primary));
  transition: all 0.3s ease;
}

.hamburger-label:has(+ .hamburger-checkbox:checked) {
  .hamburger-bar--top {
    transform: translate(0, 6.5px) rotate(45deg);
  }
  .hamburger-bar--middle {
    opacity: 0;
  }
  .hamburger-bar--bottom {
    transform: translate(0, -6.5px) rotate(-45deg);
  }
}

@media screen and (min-width: 48rem) {
  .hamburger-label {
    display: none;
  }
}
