.hamburger-icon {
  :focus {
    border: 2px solid hsl(var(--foreground-primary));
  }
}

.hamburger-bar {
  display: block;
  width: 1.5rem;
  height: 2px;
  background-color: hsl(var(--foreground-primary));
  transition: all 0.3s ease;
}

#hamburger-button[aria-pressed="true"] {
  .hamburger-bar--top {
    transform: translate(0, 7px) rotate(45deg);
  }
  .hamburger-bar--middle {
    opacity: 0;
  }
  .hamburger-bar--bottom {
    transform: translate(0, -7px) rotate(-45deg);
  }
}
