.hamburger-checkbox {
  display: none;
}

.hamburger-label {
  position: fixed;
  top: 0rem;
  left: 0rem;
  height: 4rem;
  width: 3rem;
}

.hamburger-icon {
  :focus {
    border: 2px solid var(--foreground-primary);
  }
}

.hamburger-bar {
  display: block;
  position: absolute;
  top: 50%;
  margin-top: -1px;
  left: 1rem;
  width: 1.3rem;
  height: 2px;
  background-color: var(--foreground-primary);
  transition: all 0.3s ease;
}

.hamburger-bar--top {
  transform: translate(0, -7px);
}
.hamburger-bar--bottom {
  transform: translate(0, 7px);
}

.hamburger-label:has(+ .hamburger-checkbox:checked) {
  .hamburger-bar--top {
    transform: translate(0, 0) rotate(45deg);
  }
  .hamburger-bar--middle {
    opacity: 0;
  }
  .hamburger-bar--bottom {
    transform: translate(0, 0) rotate(-45deg);
  }
}

@media screen and (min-width: 1024px) {
  .hamburger-label {
    display: none;
  }
}
