header {
    position: sticky;
    top: 0;
    display: flex;
    gap: 1rem;
    align-items: center;
    justify-content: space-between;
    padding: 0.75rem;
    border-bottom: 1px solid var(--foreground-tertiary);
    background-color: red;
  }
    
  nav {
    display: none;
  }
  
  .external {
    margin-left: auto;
  }
    
  @media (min-width:650px) {
    nav {
      display: flex;
    }
  }
        
  .logo-link {
    margin-right: auto;
  }
  
  .logo {
    display: block;
    height: 2.3rem;
  }
