.header-wrapper {
  width: 100%;
  height: var(--header-height);
  position: sticky;
  top: 0;
  border-bottom: 1px solid hsl(var(--foreground-tertiary));

  background-color: var(--background-raw);
  z-index: 100;
}

body:has(.refheader) .header-wrapper {
  border-bottom: 0;
}

header {
  display: flex;
  gap: 1rem;
  align-items: center;
  justify-content: space-between;
  padding-inline: 1rem;
  height: 100%;
  width: 100%;
  max-width: 80rem;
  margin-inline: auto;

  .header-nav-link {
    font-size: clamp(0.8rem, 1.5vw, 1rem);
    white-space: nowrap;
    display: inline-block;
    position: relative;
    padding: 0 0.75rem;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    transition: color 200ms ease-in-out;
    color: hsl(var(--foreground-primary));

    &::after {
      content: "";
      height: 100%;
      width: 100%;
      background-color: hsl(var(--header-highlight));
      position: absolute;
      bottom: 0;
      left: 0;
      transition: transform 0.2s cubic-bezier(0.86, 0, 0.07, 1);
      transform-origin: right;
      transform: scaleX(0);
      z-index: -1;
    }

    &:hover, &[data-active] {
      color: hsl(var(--gray-800-hsl));

      &::after {
        transform-origin: left;
        transform: scaleX(1);
      }
    }
  }

  .external {
    margin-left: auto;
  }

  .logo-link {
    display: flex;
    height: 2.3rem;
  }

  .logo {
    width: 100%;
    max-height: 2.5rem;
  }
}

@media (min-width: 82rem) {
  header {
    padding: 0;
  }
}

@media (max-width: 47.9375rem) {
  .logo-link {
    margin-right: auto;
  }
}
