.hero {
  background-size: 0;
  width: 100%;
  display: grid;
  grid-template-columns: minmax(0, 1fr);
  flex-wrap: wrap;
  gap: 1rem;
  align-items: center;
}

@media (min-width: 48rem) {
  .hero {
    grid-template-columns: minmax(0, 1fr) 16rem;
  }

  .hero img {
    order: 2;
  }
}

@media (min-width: 60rem) {
  .hero {
    grid-template-columns: minmax(0, 1fr) 24rem;
  }
}

.hero h1 {
  @apply text-4xl md:text-5xl mb-2 md:mb-6 font-bold;
}

.hero p {
  margin-bottom: 2rem;
  font-size: 1.15rem;
  line-height: 1.75rem;
  text-wrap: balance;
  max-width: 600px;
}

.hero img {
  width: 100%;
  margin: auto;
}
