.main-nav {
  display: flex;
  flex-direction: column;
  margin: 0.5rem 0.5rem 1rem;
  padding: 0.5rem;
  border-radius: 0.5rem;
  border: 1px solid hsl(var(--background-tertiary));
  background-color: hsl(var(--background-secondary));
  list-style: none;
}

.main-nav-link {
  display: block;
  padding: 0.5rem 0.75rem;
  border-radius: 0.25rem;
  color: hsl(var(--foreground-primary));
  &:hover {
    background-color: hsl(var(--background-tertiary));
    text-decoration: none;
  }
}

.main-nav-link[data-active] {
  font-weight: bold;
  background-color: hsl(var(--background-tertiary));
}

@media (min-width: 1024px) {
  .main-nav {
    display: none;
  }
}
