.nav {
  position: fixed;
  top: var(--header-height);
  max-width: 41rem;
  transition: transform 200ms ease-in-out;
  transform: translateX(-100%);
  z-index: 11;
  height: calc(100vh - var(--header-height));
  width: 100%;
  background-color: hsl(var(--background-primary));
}

body:has(.hamburger-checkbox:checked) .nav {
  transform: translateX(0);
}

body:has(.hamburger-checkbox:checked) .content {
  opacity: 0.5;
}

body:has(.refheader) .nav {
  top: calc(var(--header-height) + var(--subnav-height));
  height: calc(100vh - var(--header-height) - var(--subnav-height));
}

@media (min-width: 48rem) {
  .nav {
    position: sticky;
    top: var(--header-height);
    height: calc(100vh - var(--header-height));
    overflow-y: auto;
    width: auto;
    min-width: 17rem;
    height: 100%;
    border-inline: 1px solid hsl(var(--foreground-tertiary));
    font-size: 0.8rem;
    overflow-y: auto;
    scrollbar-width: thin;
    z-index: 3;
    transform: translateX(0) !important;
  }

  .content {
    opacity: 1 !important;
  }

  body:has(.refheader) .nav {
    top: calc(var(--header-height) + var(--subnav-height));
    height: calc(100vh - var(--header-height) - var(--subnav-height));
  }
}
