.nav {
  position: fixed;
  top: var(--header-height);
  transition:
    transform 200ms cubic-bezier(0.165, 0.84, 0.44, 1),
    opacity 100ms linear;
  transform: translateX(-100%);
  z-index: 11;
  height: calc(100vh - var(--header-height));
  height: calc(100dvh - var(--header-height));
  width: 100%;
  min-width: 14rem;
  background: var(--background-raw);
  opacity: 0;
  padding: 1rem;
  overflow: auto;
  font-size: 0.8125rem;
}

body:has(.refheader) .nav {
  top: calc(var(--header-height) + var(--subnav-height));
  height: calc(100vh - var(--header-height) - var(--subnav-height));
  height: calc(100dvh - var(--header-height) - var(--subnav-height));
}

@media (min-width: 48rem) {
  .nav {
    position: sticky;
    top: var(--header-height);
    height: calc(100vh - var(--header-height));
    overflow-y: auto;
    width: auto;
    min-width: 14rem;
    overflow-y: auto;
    scrollbar-width: thin;
    z-index: 3;
    transform: translateX(0) !important;
    opacity: 1 !important;
    font-size: 0.8125rem;
    padding: 0;
    padding-bottom: 4rem;
  }

  body:has(.refheader) .nav {
    top: calc(var(--header-height) + var(--subnav-height));
    height: calc(100vh - var(--header-height) - var(--subnav-height));
  }
}
