.nav {
  height: 100%;
  min-width: 280px;
  border-right: 1px solid hsl(var(--foreground-tertiary));
  font-size: 0.8rem;
  background-color: hsl(var(--background-primary));
}

@media (max-width: 1023px) {
  .nav {
    position: fixed;
    width: 100%;
    max-width: 650px;
    transition: all 200ms ease-in-out;
    transform: translateX(-100%);
  }

  .hamburger-label {
    position: fixed;
    top: 1rem;
    left: 1rem;
  }

  .hamburger-checkbox:checked + .nav {
    transform: translateX(0);
  }
}
