.refheader {
  position: sticky;
  top: var(--header-height);
  display: flex;
  align-items: center;
  padding-left: 0;
  background-color: hsl(var(--background-secondary));
  border-bottom: 1px solid hsl(var(--foreground-tertiary));
  z-index: 5;
  height: var(--subnav-height);
}

.refheader-link {
  white-space: nowrap;
  font-size: clamp(0.875rem, 1vw + 0.5rem, 0.75rem);
}
@media (min-width: 74rem) {
  .refheader ul li:first-child a {
    margin-inline-start: -0.75rem;
  }
}

.refheader-link[data-active="true"] {
  color: hsl(var(--primary));
}

.nav[data-section="api"] {
  height: calc(100vh - var(--header-height) - var(--subnav-height));
  top: calc(var(--header-height) + var(--subnav-height));
  padding-top: 0.5rem;
}

/* putting other reference styles in here for now until they are moved out into components*/

.refcrumbs {
  position: sticky;
  top: calc(var(--header-height) + var(--subnav-height));
  width: 100%;
  padding: 1rem;
  padding-left: 0 !important;
  margin: 0;
  background-color: var(--background-raw);
  z-index: 2;
}
