li:has(.sub-nav-toggle) {
  border-left: 1px solid hsl(var(--foreground-tertiary));
}

.sub-nav-toggle:hover,
li:has(.sub-nav-toggle:hover) {
  background-color: hsl(var(--header-highlight));
  border-color: hsl(var(--foreground-secondary));
}

.sub-nav-toggle {
  display: block;
  position: relative;
  font: inherit;
  padding: 0.25rem 0.75rem;

  &::after {
    content: "";
    display: block;
    width: 1rem;
    height: 1rem;
    position: absolute;
    right: 0.5rem;
    top: -0.25rem;
    background: url(./img/chevron.svg) no-repeat center;
    transform: translateY(50%);
    transition: transform 0.1s ease-in;
  }
}

li:has(> .sub-nav-toggle) {
  display: grid;
  grid-template-rows: max-content 0fr;
  transition: grid 0.25s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.sub-nav-toggle + ul {
  margin-left: 1rem;
}

li:has(> .sub-nav-toggle .sub-nav-toggle-checkbox:checked),
li:has(> .sub-nav-toggle + ul:focus-within) {
  grid-template-rows: max-content 1fr;
  padding-bottom: 1rem;
}

.sub-nav-toggle:has(.sub-nav-toggle-checkbox:checked)::after,
.sub-nav-toggle:has(+ ul:focus-within)::after {
  transform: translateY(50%) rotate(90deg);
}
